In [4]:
import pandas as pd
%ls

'Advanced Workout Plan-converted.xlsx'
 Beginner-converted.xlsx
'Beginner Day 1-converted.xlsx'
'Beginner Day 2-converted.xlsx'
'Beginner Day 3-converted.xlsx'
'Beginner Day 4-converted.xlsx'
'Beginner Day 5-converted.xlsx'
'Diet Plan (Beginner)-converted.xlsx'
'Exercise 1.csv'
'Fat Loss Diet Plan (Females)-converted.xlsx'
'Intermidiate Diet Plan-converted.xlsx'
'Intermidiate Muscle Building (Men)-converted.xlsx'
'Muscle Gain Diet Plan (Men)-converted.xlsx'
 test.ipynb
 xcel1.xlsx

In [10]:
logins= pd.read_excel('../logins.xlsx')
logins

          IDs  Passwords
0    Aditya_N       1234
1    Arslan_M       2345
2   Clifton_F       3456
3     Rohan_R       4567
4  Shashank_K       5678
5   Chirayu_P       6789

In [15]:
username = input('Username:  ')

Username:  Aditya_N

In [16]:
if username in logins['IDs']:
    print('Valid username')